.logo {
  margin-right: 93px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;

  color: var(--logo-color);
}

.logo-part {
  color: var(--accent-color);
}
