.activities {
  @extend %section;
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.activities__list {
  display: flex;
  gap: 30px;
}

.activities-list__item {
  display: block;
  position: relative;
  width: 370px;
}

.activities-list__place-for-heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities-list__heading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-white-color);
}
