.footer {
  padding: 60px 0;

  background-color: var(--secondary-bg-color);
}

.footer-container {
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-contacts {
  margin-bottom: 60px;

  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 0px;
  }
}

.footer__column-1 {
  text-align: center;
  margin-bottom: 60px;

  @media screen and(min-width: 768px) {
    margin-bottom: 0px;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
    margin-bottom: 0px;
  }
}

.footer__column-2 {
  text-align: center;

  @media screen and(min-width: 1200px) {
    text-align: left;
  }
}

.footer__column-3 {
  text-align: center;

  @media screen and(min-width: 1200px) {
    margin-left: auto;
    text-align: left;
  }
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and(min-width: 1200px) {
    flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 20px;

  @include font(24px, calc(28 / 24), 0.03em, 700);
  color: var(--light-white-color);

  @media screen and(min-width: 1200px) {
    @include font(26px, calc(31 / 26), 0.03em, 700);
  }
}

.footer__logo--accent-color {
  color: var(--accent-color);
}

.footer-address-list,
.footer-address__address {
  padding-left: 0px;
  margin-top: 0px;

  font-style: normal;

  @include font(14px, calc(24 / 14), 0.03em, 400, center);

  @media screen and(min-width: 1200px) {
    text-align: left;
  }
}

.footer-address__address {
  margin-bottom: 8px;

  color: var(--light-white-color);

  @media screen and(min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-address-list__link {
  @extend %displayblock;

  color: var(--address-color);

  transition: color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.footer-address-list__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and(min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__join,
.footer__subscribe {
  margin-bottom: 20px;

  @include font(14px, calc(16 / 14), 0.03em, 700, center);
  text-transform: uppercase;

  color: var(--light-white-color);

  @media screen and(min-width: 1200px) {
    text-align: left;
  }
}

.footer-social-list,
.footer-subscription__button {
  @extend %alignmentflex;
  gap: 12px;
}

.footer-social-list__item {
  width: 44px;
  height: 44px;
}

.footer-social-list__link {
  @extend %alignmentflex;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--light-white-color);
  background-color: var(--white-bg-color-transparency);

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-color);
    color: var(--light-white-color);
  }
}

.footer-social-list__icon {
  @include icons(20px, 20px);
}

.footer-subscription__email-input {
  height: 50px;
  width: 100%;
  padding: 15px 0px 15px 16px;
  margin-bottom: 20px;

  border: 1px solid var(--subscription-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-family: $main-font;
  font-style: normal;
  @include font(16px, calc(20 / 16), 0.03em, 400);

  background-color: inherit;
  color: var(--address-color);

  @media screen and(min-width: 768px) {
    max-width: 450px;
  }

  @media screen and(min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }

  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.footer-subscription__button:hover,
.footer-subscription__button:focus,
.footer-subscription__button:active {
  background-color: var(--accent-color-button);
}

.footer-subscription__icon {
  @include icons(24px, 24px);
}
