.hero {
  max-width: 1600px;
  background-color: var(--bg-color-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/hero/hero.jpg');
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container {
  text-align: center;
}

.hero__title {
  margin-bottom: 40px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--light-white-color);
}

.hero__order-service {
  padding-right: 32px;
  padding-left: 32px;

  transition: background-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-color-button);
  }
}
