.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: var(--bg-color-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/hero/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-container {
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--light-white-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__order-service {
  padding-right: 32px;
  padding-left: 32px;

  transition: background-color var(--transition-duration) var(--transition-timing-function);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-color-button);
  }
}
