@import '../layouts/header';
@import '../layouts/hero';
@import '../layouts/benefits';
@import '../layouts/activities.scss';
@import '../layouts/team';
@import '../layouts/clients';
@import '../layouts/footer';
@import '../layouts/portfolio';
@import '../layouts/modal';
