.team {
  @extend %section;

  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--light-grey-color);
}

.team__heading {
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.team-list {
  font-size: 16px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__item {
  @extend %displayblock;
  width: 100%;
  margin-bottom: 30px;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--light-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.team-container {
  padding: 30px;
}

.team-container__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-container__job-title {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-social-list {
  @extend %alignmentflex;
  gap: 10px;
}

.team-social-list__link {
  @extend %alignmentflex;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  color: var(--svg-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);

  &:focus,
  &:hover,
  &:active {
    border-radius: 50%;
    color: var(--light-white-color);
    background-color: var(--accent-bg-color);
  }
}

.team-social-list__icon {
  @include icons(20px, 20px);
}
